<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SchedulingContext" connectionString="metadata=res://*/Entities.SchedulingDataModel.csdl|res://*/Entities.SchedulingDataModel.ssdl|res://*/Entities.SchedulingDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=SchedulingStore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>