@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This utility lets you schedule tools to run either ad hoc, at a specific date and time or in a recurring fashion.
            </p>
        </div>
    </section>
}

